* { 
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --topfirst: 100px;
  --topsecond: 200px;
}

@media only screen and (max-width: 750px) {
  :root {
    --topfirst: 50px;
    --topsecond: 100px;
  }
}